<dom-module id="contacts-component">
    <template>
        <style>
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;

            }

            .contacts{
                width: 100%;
                padding-left: 15%;
                padding-right: 15%;
                margin-left: auto;
                margin-right: auto;
                padding-top: 40px;
                padding-bottom: 40px;
                text-align: center;
                min-height: 80vh;
            }

            .contacts-block__header{
                margin-top: 40px;
                width: 100%;
                font-size: 40px;
                line-height: 1.4;
                font-weight: normal;
                color: #2c99c6;
                text-align: center;
                margin-bottom: 30px
            }

            .contacts-block h3{
                font-size: 22px;
                margin-top: 30px;
                margin-bottom: 10px;
                font-weight: normal;
            }

            .contacts-block__sub-block{
                position: relative;
                box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, 0.137255),
                0px 1px 5px 0px rgba(0, 0, 0, 0.117647),
                0px 3px 1px -2px rgba(0, 0, 0, 0.2);
                width: 100%;
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
                padding-top: 10px;
                padding-bottom: 40px;
            }

            .contacts-block__city{
                font-size: 30px;
                margin-top: 40px;
                width: 100%;
                max-width: 600px;
                cursor: pointer;
                position: relative;
                background-color: #fff;
                text-transform: none;
                height: 45px;

            }

        </style>
        <div class="contacts">
            <h2 class="contacts-block__header">Contacts</h2>
            <div class="contacts-block">
                <paper-button raised class="contacts-block__city" on-click="toggle" data-block="collapse_1">Moscow</paper-button>
                <iron-collapse id="collapse_1">
                    <div class="contacts-block__sub-block">
                        <h3>Commercial Cooperation:</h3>
                        <span>demid@exponenta.me; +7 968 637 66 68</span>
                        <h3>Press Office:</h3>
                        <span>tepina@exponenta.me; +7 965 064 65 33</span>
                        <h3>Organizational Issues:</h3>
                        <span>digital@exponenta.me; +7 962 697 81 81</span>
                    </div>
                </iron-collapse>
            </div>
            <div class="contacts-block">
                <paper-button raised class="contacts-block__city" on-click="toggle" data-block="collapse_2">Saint-Petersburg</paper-button>
                <iron-collapse id="collapse_2">
                    <div class="contacts-block__sub-block">
                        <h3>Commercial Cooperation:</h3>
                        <span>demid@exponenta.me; +7 968 637 66 68</span>
                        <h3>Press Office:</h3>
                        <span>tepina@exponenta.me; +7 965 064 65 33</span>
                        <h3>Organizational Issues:</h3>
                        <span>digital@exponenta.me; +7 962 697 81 81</span>
                    </div>
                </iron-collapse>

            </div>
        </div>
    </template>
    <script>

        class ContactsComponent extends Polymer.Element{
            static get is(){return 'contacts-component';}
            toggle(e){
                this.$[e.target.dataset.block].toggle();
            }
        }

        this.customElements.define(ContactsComponent.is, ContactsComponent);


    </script>
</dom-module>