<dom-module id="description-component">
    <template>
        <style>
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;

            }
            .description{
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                padding-top: 40px;
                padding-bottom: 10px;

            }

            .description__text-block,
            .description__photo-block{
                float: left;
                width: 50%;
                min-width: 320px;
                padding: 10px;

            }

            .description__photo{
                width: 100%;
                max-width: 456px;
                position: relative;
            }

            .description__photo img{
                width: 100%;
                height: auto;
            }

            .description__inscription{
                position: absolute;
                background-color: rgba(0,0,0,.5);
                width: 100%;
                height: 30%;
                min-height: 113px;
                bottom: 0;
                left: 0;
                padding: 10px 20px 10px 20px;
            }

            .description__name{
                font-size: 16px;
                margin-top: 10px;
                margin-bottom: 5px;
            }

            .description__header{
                width: 100%;
                max-width: 580px;
                font-size: 40px;
                background-color: #2c99c6;
                border-radius: 5px;
                padding: 5px 10px 5px 10px;
                line-height: 1.4;
            }

            .description__when{
                margin-top: 20px;
                padding-left: 10px;
                padding-right: 10px;
                line-height: 1.5;
            }

            .description__text{
                margin-top: 40px;
                line-height: 1.6;
            }

            .clearfix{
                clear: both;
                height: 0;
            }
        </style>
        <div class="description">
            <div class="description__text-block">
                <h2 class="description__header">GEEK PICNIC</h2>
                <p class="description__text">
                    Unique tech, science and art open-air, designed for wide community of smart educated people who are carried away by life. The festival with its special atmosphere became the powerhouse and favorite platform of bright acquaintances with future for all geeks, youngsters and families.
                </p>
            </div>
            <div class="description__photo-block">
                <div class="description__photo">
                    <img src="img/gendir.png" alt="gendir">
                    <div class="description__inscription">
                        <h4 class="description__name">Nikolay Gorelyi</h4>
                        <span>The main ideologist of festival</span>
                        <h4 class="description__name">GEEK PICNIC</h4>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="description__when">
                <h2 class="description__header">WHEN?</h2>
                <div class="description__text-block">
                    <h2>Moscow:</h2>
                    <span>17-18 June 2017</span>
                </div>
                <div class="description__text-block">
                    <h2>Saint-Petersburg</h2>
                    <span>24-25 June 2017</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </template>
    <script>

        class DescriptionComponent extends Polymer.Element{
            static get is(){return 'description-component';}

        }

        this.customElements.define(DescriptionComponent.is, DescriptionComponent);


    </script>
</dom-module>