<dom-module id="read-more">
    <template>
        <blockquote>
            <description-component></description-component>
            <video-component></video-component>
        </blockquote>
    </template>
    <script>
        HTMLImports.whenReady(function(){
            class ReadMore extends Polymer.Element{
                static get is(){return 'read-more';}
                connectedCallback() {
                    super.connectedCallback();
                    console.log('read-more created!');
                }
            }

            this.customElements.define(ReadMore.is, ReadMore);
        });

    </script>
</dom-module>

<dom-module id="description-component">
    <template>
        <p>Description</p>
    </template>
    <script>
        HTMLImports.whenReady(function(){
            class DescriptionComponent extends Polymer.Element{
                static get is(){return 'description-component';}
                connectedCallback() {
                    super.connectedCallback();
                    console.log('description-component created!');
                }
            }

            this.customElements.define(DescriptionComponent.is, DescriptionComponent);
        });

    </script>
</dom-module>

<dom-module id="video-component">
    <template>
        <p>Video</p>
    </template>
    <script>
        HTMLImports.whenReady(function(){
            class VideoComponent extends Polymer.Element{
                static get is(){return 'video-component';}
                connectedCallback() {
                    super.connectedCallback();
                    console.log('video-component created!');
                }
            }

            this.customElements.define(VideoComponent.is, VideoComponent);
        });

    </script>
</dom-module>