<dom-module id="register-modal">
    <template>
        <style>
            .register__button{
                height: 50px;
                font-size: 24px;
                border-radius: 5px;
                cursor: pointer;
                width: 210px;
                text-align: center;
                background-color: #2c99c6;
                margin-left: auto;
                margin-right: auto;
                padding-top: 12px;
                box-sizing: border-box;
                margin-top: 1.5vh;
                margin-bottom: 1.5vh;
                transition: all .15s;
            }

            .register__button:hover{
                color: #2c99c6;
                background-color: #fff;
            }
        </style>
        <div class="register">
            <div class="register__button" on-click="openModal" >Register now!</div>
            <modal-form-component show-class="{{showClass}}"></modal-form-component>
        </div>
    </template>
    <script>

        class RegisterModal extends Polymer.Element{
            static get is(){return 'register-modal';}
            static get properties(){
                return {
                    showClass: {
                        type: String,
                        value: "",
                        notify: true
                    }
                }
            }

            openModal(){
                this.set('showClass',"show");
            }



        }

        this.customElements.define(RegisterModal.is, RegisterModal);


    </script>
</dom-module>

